html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
	margin: 0px;
	padding: 0px;
	border: 0px;	
	outline: 0px;
	box-shadow: 0px;
}

body {
	font-family: sans-serif;
}


/* ==================== navbar strated ==================== */

a {
	color: #fcb800;
}

a:hover {
	color: #fcb800;
}

nav {
	background-color: transparent;
	font-family: calibri;
	font-size: 17px;
}

.logo {
	width: 40px;
	height: 40px;
	float: left;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-item {
	padding-right: 30px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

.dropdown .dropdown-menu {
	background-color: transparent;
	border: none;
	border-radius: 0px;
	margin-top: 0px;
}

.dropdown:hover .dropdownMenu{
	display: block;
}


.dropdown .dropdown-menu .dropdown-submenu .dropdown-item {
	background-color: transparent;	
	border: none;
	border-radius: 0px;
}

.dropdown .dropdown-menu .dropdown-submenu .dropdown-item:hover {
	background-color: #3c8a87;
	color: white;
}

.dropdown .dropdown-menu .dropdown-submenu:hover .secondDropdownMenu{
	display: block;
}

.dropdown .dropdown-menu .dropdown-submenu .secondDropdownMenu .dropdown-submenu:hover .thirdDropdownMenu{
	display: block;
}

.dropdown-item {
	text-transform: capitalize;
	text-align: left;
	padding-left: 10px;
}

.logInButton {
	float: right;
	color: #fcb800;
	text-transform: capitalize;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	margin-right: 33px;
}

.navbarSocialLinks {
	float: right;
	padding: 0;
}

.navbarFbIconLink,
.navbarTwitterIconLink,
.navbarInstaIconLink {
	text-decoration: none;
}

.navbarFbIconLink:hover,
.navbarTwitterIconLink:hover,
.navbarInstaIconLink:hover {
	text-decoration: none;
}

.navbarFbIcon,
.navbarTwitterIcon,
.navbarInstaIcon {
	font-size: 30px;
	padding-right: 10px;
	transition: all 0.3s ease-in-out 0s;
}

.navbarFbIcon:hover,
.navbarTwitterIcon:hover,
.navbarInstaIcon:hover {
	transform: scale(1.1765) translateZ(0px);
}

.loginModalLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.loginForm {
	margin-top: 50px;
}

.loginFormInputField {
	width: 100%;
	margin-bottom: 10px;
	background-color: #3c8a87;
	border: 1px solid white;
	padding: 10px;
	color: white;
}

.dontHaveAccount {
	float: left;
}

.signUpButtonOnloginForm {
	background-color: transparent;
	color: white;
	border: none;
}

.forgetPasswordBtn {
	float: right;
	background-color: transparent;
	border: none;
	color: white;
}

.loginFormButton {
	text-transform: capitalize;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.loginFormButton:hover {
	background-color: #fcb800;
	color: black;
}

.navbar-toggler {
	color: #fcb800;
}


/* ================ navbar ended =================== */

/* ========================================= footer started ================================== */

.footer {
	background-color: #3c8a87;
	padding-top: 50px;
}

.footerUlRows {
	padding-right: 50px;
	padding-left: 50px;
}

.footerUl {
	list-style: none;
	color: white;
	text-transform: capitalize;
	cursor: pointer;
}

.footerHeading {
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.footerPagesLink {
	text-decoration: none;
	color: white;
}

.footerPagesLink:hover {
	text-decoration: none;
	color: white;
}

.footerPagesLi {
	margin-bottom: 6px;
}

.footerBestSellingProducts {
	display: inline-flex;
}

.footerBestSellingProductsTitle {
	text-transform: none;
	width: 200px;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 10px;
	padding-top: 7px;
}

.img-thumbnail {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: none;
}

.footerSocialLinksList {
	margin-bottom: 10px;
}

.footerSocialLinksIcons {
	color: white;
	font-size: 25px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.fbLink,
.twitterLink,
.instaLink,
.gmailLink {
	color: white;
	text-decoration: none;
}

.fbLink:hover,
.twitterLink:hover,
.instaLink:hover,
.gmailLink:hover {
	color: white;
	text-decoration: none;
}

.gmailLink {
	text-transform: lowercase;
}

.locationLink {
	color: white;
	text-decoration: none;
}

.locationLink:hover {
	color: white;
	text-decoration: none;
}

.fa-map-marker {
	float: left;
	margin-top: 5px;
}

.locationText {
	margin-left: 20px;
}

#forminputfield {
	border: 1px solid black;
	background-color: #fcb800;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.formSubscribeButtonDiv {
	text-align: left;
	margin-top: 10px;
}

.subscribeBtn {
	width: 50%;
}

/* ========================================= footer ended ================================== */